.column-container {
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.GHAzDo-widget {
    background-color: rgb(104, 33, 122);
    color: white;
    text-align: center;
    font-size: 30px;
}

.link {
        color: white !important;
        text-decoration: none !important;
}

.ghazdo-title {
    font-size: 1rem;
    text-align: left;
    text-wrap: balance;
    margin: 0 0 10px;
}

.alertValue {
    margin-block-start: 10px;
}
