name: Create Example Repos
on:
  workflow_dispatch:
    inputs:
      provisionCount:
        description: 'Number of repos to provision'
        required: true
        default: 1
  schedule:
    - cron: "5 23 * * 5,6"

permissions:
  contents: read

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Configure contributor
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Run script
        shell: pwsh
        env:
          AZURE_DEVOPS_CREATE_PAT: ${{ secrets.AZURE_DEVOPS_CREATE_PAT }}
          TEMP: ${{ runner.temp }}
          PROVISIONCOUNT: ${{ vars.PROVISIONCOUNT }}
          MANUAL_RUN: ${{ github.event.inputs.provisionCount }}
        run: |
          # check if we are running from workflow_dispatch
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            # override the provision count from the input
            $env:PROVISIONCOUNT = $env:MANUAL_RUN
          }

          .\make.ps1 -command "provision" -provisionCount $env:PROVISIONCOUNT
