name: Create Example Repos
on:
  workflow_dispatch:
    inputs:
      provisionCount:
        description: 'Number of repos to provision'
        required: true
        default: 1
  schedule:
    - cron: "5 23 * * 5,6"

permissions:
  contents: read

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Configure contributor
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Run script
        shell: pwsh
        env:
          AZURE_DEVOPS_CREATE_PAT: ${{ secrets.AZURE_DEVOPS_CREATE_PAT }}
          TEMP: ${{ runner.temp }}
          PROVISIONCOUNT: ${{ vars.PROVISIONCOUNT }}
          MANUAL_RUN: ${{ github.event.inputs.provisionCount }}
        run: |
          # check if we are running from workflow_dispatch
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            # override the provision count from the input
            $env:PROVISIONCOUNT = $env:MANUAL_RUN
          }

          .\make.ps1 -command "provision" -provisionCount $env:PROVISIONCOUNT
